.basketModalFonBig {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
}

.basketModalFonBig h1 {
  font-size: 2vmax;
}

.basketModalFonBig p {
  font-size: 1vmax;
}

.basketModalFonBig input {
  font-size: 1vmax;
}

.basketModalMini {
  position: fixed;
  top: 30vh;
  left: 30vw;
  z-index: 20;
  width: 40vw;
  height: 40vh;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

@media all and (max-width: 768px) {
  .basketModalMini {
    position: fixed;
    top: 30vh;
    left: 10vw;
    z-index: 20;
    width: 80vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.basketModalMini p {
  font-size: 1.5vmax;
}

.basketModalMini input {
  width: 60%;
  font-size: 1vmax;
}
