.molalFon{
  position: fixed;
  width:100vw;
  height:100vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 10;
  top:0px;
  left: 0px;
  color:#ffffff;
  overflow-y: auto;
}
.modalCatalogComent{
    background-color: #ffffff;
    color:black;
    border-radius: 10px;
}
.modalCatalogComent textarea{
  width:100%;
  font-size: 1vmax;
}
.modalCatalogComent input{
  width:100%;
  font-size: 1vmax;
}
