.molalFon {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalCatalogComent {
  color: black;
  background-color: #ffffff;
  border-radius: 10px;
}

.modalCatalogComent textarea {
  width: 100%;
  font-size: 1vmax;
}

.modalCatalogComent input {
  width: 100%;
  font-size: 1vmax;
}
