.page__header {
  z-index: 100;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #b8c4ff;
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #b8c4ff;
}

@media (min-width: 992px) {
  .navbar-collapse {
    position: static;
  }
}

.navbar-brand,
.nav__link {
  position: relative;
  color: #ffffff !important;
  letter-spacing: 0.6px;
}

.nav__link:focus,
.nav__link:hover {
  outline: none;
}

@media (min-width: 992px) {
  .navbar-brand::after,
  ::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 0;
    height: 2px;
    content: '';
    background: #ffffff;
    transition: all 0.4s ease-in-out;
  }

  .nav-item {
    margin: 0 3px;
  }

  .navbar-brand {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin: 0;
  }

  .nav__link {
    padding: 0.4rem !important;
  }

  .nav__link--active::after,
  .nav__link:focus::after,
  .nav__link:hover::after {
    width: 100%;
  }
}
