header {
  background-color: #b8c4ff;
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #b8c4ff;
}

@media (min-width: 992px) {
  .navbar-collapse {
    position: static;
  }
}
