footer {
  background-color: #b8c4ff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  background-size: 100%, 100%;
}

.carousel-control-prev-icon::after {
  font-size: 12vmax;
  content: '<';
}

.carousel-control-next-icon::after {
  font-size: 12vmax;
  content: '>';
}
