@font-face {
  font-family: "Pacifico";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Pacifico-Regular.woff2") format("woff2");
}

.page__body {
  display: grid;
  grid-template-rows: min-content minmax(320px, 1fr) min-content;
  min-height: 100vh;
}

a {
  color: inherit;
}

.errForm {
  border: 2px solid red;
}

.page__main--mod {
  background-color: #f1f1f1;
}

.contact-map {
  min-height: 400px;
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
